/forceX/
/Glorious Game Launcher/
/illustro/
/Path of Exile/
/Purity/
/Text input launcher/
/Monitor monitor/quick run bar/executables/
/Monitor monitor/@Resources/DualQuotes.txt
/Monitor monitor/HWTracker/Values.txt