/forceX/
/Glorious Game Launcher/
/illustro/
/Path of Exile/
/Purity/
/Text input launcher/
/monitorMonitor/quick run bar/executables/
monitorMonitor/@Resources/DualQuotes.txt
monitorMonitor/@Resources/*.docx
monitorMonitor/HWTracker/Values.txt
scripts/*.ini